@inherits LayoutComponentBase
<CascadingValue Value="this">
    <div id="page">
        <HeaderRead></HeaderRead>
        <div class="divider divider-margins"></div>
        <div class="page-content-read">
            @Body
        </div>
    </div>
</CascadingValue>
@code {
    [Parameter]
    public string chapterName{ get; set; }
    [Parameter]
    public string linkBack { get; set; }
}
